@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Tilt Neon", sans-serif;
}
body{
    overflow: hidden;
}
.container{
    background: url(background.jpg);
    background-repeat:no-repeat ;
    background-size:100vw 100vh;
    height: 100vh;
}
.gameOver,#scoreCont{
    font-weight: bolder;
}
.gameOver{
    margin-left: 20px;
}
#scoreCont{
    font-size: 1rem;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2px;
    margin-right: 40px;
}

.text{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    font-size: 1.8rem;
}
.image1{
    width: 70px;
}
.final{
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 70px;
    left:35vw;
    display: none;
}
.dino{
    background: url(dino1.gif); 
    /* background-color: black; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 200px;
    height: 200px;
    /* background-size: cover;
    background-repeat: no-repeat; */
    position: absolute;
    /* position absolute will help it move wrt to parent position element that  have any position defined */
    top:330px;
    left: 50px;
}
.obstacle{
    background: url('dino2.png');
    /* background-color: aqua; */
    width: 190px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top:330px;
    left:500px;
}
.animateDino{
    animation: dino 0.8s linear;
}

.obstacleAni{
    animation: obstacleAni 4s linear infinite;
}
@keyframes dino {
    0%{
        top:330px;
    }
    80%,85%{
        top:0px;
    }
    88%,94%{
        top:50px;
    }
    95%,99%{
        top:100px;
    }

    100%{
        top:330px;
    }
}
@keyframes obstacleAni{
    0%{
        left:100vw;

    }
    100%{
        left:-10vw;

    }
}
